@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
    
html {
	scroll-behavior: smooth;
	height:100%;
}

:root {
	--red: #e8491c;
	--blue: #2c68b0;
}

body {
	width: 100%;
/* 	overflow-x: hidden; */
	margin: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height:100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

p {
	line-height: 1.6em;
}

button, input, select, option, textarea {
	font-family: "Poppins", sans-serif;
}


/* ================================
		  GENERAL STYLES
================================== */



input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

.container {
	width: 85%;
	max-width: 1450px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.separation-section {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.separation-section img {
	width: 50%;
}


#home {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	/*background-color: #d45999;*/
	z-index: 5;
}

.home-bg {
	width: 100%;
	position: relative;
	z-index: 10;
	max-width: 1920px;
}

.home-bg > a {
	width: 100%;
	position: relative;
	cursor: default;
}

.home-bg > a img {
	width: 100%;
	position: relative;
	z-index: 8;
}

.home-bg a::after {
	content: url('../icons/FLECHE\ BAS\ BLEUE.svg');
	z-index: 11;
	width: 80px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -40px;
	text-align: center;
}

.home-bg a::before {
	content: url('../icons/ROND\ ORANGE.svg');
	position: absolute;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	left: 40px;
	right: 0;
	bottom: -110px;
	transform: rotate(90deg);
	text-align: center;
	z-index: 5;
}

.home-bg-v2 {
	width: 100%;
	position: relative;
	z-index: 10;
	max-width: 1920px;
}

.home-bg-v2 > a {
	width: 100%;
	position: relative;
	cursor: default;
}

.home-bg-v2 > a img {
	width: 100%;
	position: relative;
	z-index: 8;
}

.home-bg-v2 a::after {
	content: url('../icons/FLECHE\ BAS\ BLEUE.svg');
	z-index: 11;
	width: 65px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -95px;
	text-align: center;
}

.home-bg-v2 a::before {
	content: url('../icons/ROND\ ORANGE.svg');
	position: absolute;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	left: 40px;
	right: 0;
	bottom: -110px;
	transform: rotate(90deg);
	text-align: center;
	z-index: 5;
}

.red-hover button {
	transition: all .2s ease;
	border: 2px solid transparent !important;
}

.red-hover button:hover {
	background-color: transparent;
	border: 2px solid var(--red) !important;
	color: var(--red);
}

.blue-hover button {
	transition: all .2s ease;
	border: 2px solid transparent !important;
}

.blue-hover button:hover {
	background-color: transparent;
	border: 2px solid var(--blue) !important;
	color: var(--blue);
}

/* ================================
			 SCROLLBAR
================================== */

::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: var(--red);
	border: 31px none #ffffff;
	border-radius: 0px;
	transition: all .3s ease;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--blue);
}
::-webkit-scrollbar-thumb:active {
	background: var(--red);
}
::-webkit-scrollbar-track {
	background: #f0f0f0;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
	background: #f2f2f2;
}
::-webkit-scrollbar-track:active {
	background: #f5f5f5;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/* ================================
			  FOOTER
================================== */



footer {
	width: 100%;
	background-color: #383c3e;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

footer a {
	color: white;
	font-weight: 200;
}

.foot-cols {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 50px 0;
	color: white;
}

.ft-col {
	width: 22%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column;
	text-align: left;
}

.ft-col > img {
	width: 250px;
}

.ft-col p {
	margin: 30px 0;
	font-size: .8em;
	font-weight: 200;
}

.ft-col p span {
	font-weight: 500;
}

.ft-col ul li {
	margin: 10px 0;
}

.ft-col h3 {
	font-weight: 500;
}

.ft-col:nth-child(2) ul li:last-child a {
	font-weight: 600;
}

.ft-col:last-child p {
	font-size: 1em;
}

.ft-icons {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.foot-footer {
	width: 100%;
	border-top: 1px solid var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.footer-links {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ft-col form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.ft-col form input {
	width: 100%;
	border: none;
	border-radius: 50px;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
}

.ft-col form input::placeholder {
	opacity: .4;
}

.ft-col form button {
	width: 130px;
	background-color: #e8491c;
	color: white;
	padding: 8px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1em;
	font-weight: 200;
	cursor: pointer;
}

/* ================================
			  HEADER
================================== */

header {
	background-color: #E8491C;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.header-main {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-main a {
	color: white;
	font-weight: 300;
	font-size: 1em;
}

.header-info {
	width: 70%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.info-a, .info-b {
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-b {
	margin-left: 100px;
}

.info-a img {
	width: 27px;
}
.info-b img {
	width: 30px;
}

.info-a a, .info-b a {
	margin-left: 10px;
}

.right-icons {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.user-account {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-account img {
	width: 28px;
	margin-right: 15px;
}

.user-account span {
	font-size: 1em;
}

.user-icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right-icons a img {
	width: 27px;
}

.right-icons a {
	width: fit-content;
	margin-left: 15px;
}


/* ================================
			  NAVBAR
================================== */


.navbar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}

.logo {
	width: 22%;
}

.navlinks {
	width: 70%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navlist {
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navlist a {
	color: black;
	font-size: 1.05em;
}

.home-icon {
	fill: #e8491c;
}

.logo img {
	width: 100%;
}



/* ================================
			  ACCUEIL
================================== */


.home-container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	z-index: 3;
}

#home-ctas {
	margin-top: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-btns, .home2-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.home-btns a {
	width: 45%;
}

.home-btns button {
	width: 100%;
	background-color: var(--blue);
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.7em;
	font-weight: 300;
	cursor: pointer;
}

.home-btns a {
	margin: 15px 0;
}

.home2-btns button {
	width: 420px;
	background-color: var(--blue);
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.4em;
	font-weight: 300;
	cursor: pointer;
}

.home2-btns a {
	margin: 15px 0;
}

/* ================================
			  ABOUT US
================================== */

#about-us {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	margin: 90px 0;
}

.about-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.about-title h1 {
	font-family: 'bc-alphapipe',sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.2em;
	margin-left: 20px;
}

.about-title img {
	width: 28px;
}

.about-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-container {
	width: 100%;
	margin: 40px 0;
}

.video-container video {
	width: 100%;
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
}


/* ================================
		  ABOUT US CAROUSEL
================================== */

.video-carousel {
	background-color: #fffaf2;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 30px 0;
}

.carousel-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.slider {
	width: 80%;
	padding: 40px;
	order: 2;
	flex-grow: 5;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider-text {
	width: 60%;
}

.slider-text h2 {
	font-size: 1.8em;
	margin-bottom: 20px;
	font-weight: 600;
}

.slider-text p {
	font-size: 1.4em;
	font-weight: 300;
}

.slider-img {
	width: 40%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.slider-img img {
	width: 80%;
}

.home-carousel {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	padding-top: 30px;
}

.home-carousel > h1 {
	font-size: 2em;
}

.home-carousel-slides {
	display: none;
	width: 100%;
}

.current-home-carousel {
	display: block;
	display: flex;
	animation: fadeVisibility 1s;
	justify-content: space-between;
	align-items: center;
}

.hidden-home-slide {
	display: none;
}

.home-carousel-left-arrow {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.home-carousel-right-arrow {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.home-carousel-left-arrow img, .home-carousel-right-arrow img {
	width: 50px;
	cursor: pointer;
}
/* ================================
		NOS FORMATIONS - HOME
================================== */

#home-formations {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formations-accueil {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.categories-formations {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 240px;
	margin: 80px 0;
}

.formations-card-home {
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
	border-radius: 50px;
	position: relative;
}

.card-img-container {
	width: 100%;
	border-radius: 50px;
	height: 400px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;
	position: relative;
	-webkit-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.65);
	box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.65);
}

.formations-card-home:nth-child(1) > img{
	width: 100px;
	position: absolute;
	top: -80px;
	left: -60px;
	transform: rotate(230deg);
	z-index: 1;
}

.formations-card-home:nth-child(2) > img{
	width: 100px;
	position: absolute;
	bottom: 20px;
	right: -60px;
	transform: rotate(60deg);
	z-index: 1;
}

.card-img-container img {
	height: 100%;
	margin-bottom: 20px;
	position: relative;
	z-index: 10;
}

.formations-card-home a {
	color: #4259a8;
	font-size: 1.4em;
}

.cta-btn-home button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.5em;
	font-weight: 200;
	cursor: pointer;
}

/* ================================
			 CAROUSEL #2
================================== */

.mobile-carousel {
	display: none;
}

#last-carousel-home {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px 0;
}

.last-carousel-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	position: relative;
}

.carousel-container2 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 70px 0;
	position: relative;
}

.slider-card {
	width: 330px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
	position: relative;
	margin: 0 20px;
}

.slider-relative {
	position: relative;
}

.slider-relative > img:nth-child(1) {
	position: absolute;
	z-index: 2;
	bottom: -45px;
	left: -60px;
	width: 120px;
	transform: rotate(150deg);
}

.slider-relative > img:nth-child(2) {
	position: absolute;
	z-index: 2;
	top: -110px;
	right: -60px;
	width: 120px;
	transform: rotate(-30deg);
}

.slider-card-img {
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: center;
	border-radius: 50px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.65);
	box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.65);
}

.relative-img {
	position: relative;
	z-index: 7;
}

.slider-card-img img {
	height: 100%;
}

.slider-card a {
	color: #4259a8;
	font-size: 1.4em;
}

.cta-btn-carousel a {
	margin: 30px 0;
}

.cta-btn-carousel button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.5em;
	font-weight: 200;
	cursor: pointer;
}

.group-slider {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home2-carousel-slides {
	display: none;
}

.home3-carousel-slides {
	display: none;
}

.current-home2-carousel {
	display: block;
	display: flex;
	animation: fadeVisibility 1s;
	justify-content: space-between;
	align-items: center;
}

.hidden-home2-slide {
	display: none;
}

.home-carousel-left-arrow {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.home-carousel-right-arrow {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.home-carousel-left-arrow img, .home-carousel-right-arrow img {
	width: 50px;
	cursor: pointer;
}


/* ================================
			 SUCCESS
================================== */

#success {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.success-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin: 50px 0;
}

.success-top {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.success-top h1 {
	font-family: bc-alphapipe, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5em;
	color: #304798;
}

.success-top img {
	width: 250px;
	margin: 40px 0;
}

.success-bottom {
	margin-top: 100px;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.success-bottom h1 {
	font-size: 2.5em;
	font-weight: 300;
}

.success-bottom h4 {
	font-size: 1.8em;
	font-weight: 300;
}

.success-bottom p {
	font-size: 1.2em;
	font-weight: 300;
}

.success-bottom p a {
	text-decoration: underline;
	color: black;
}

.success-bottom button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.5em;
	font-weight: 200;
	cursor: pointer;
	margin-top: 20px;
}

/* ================================
			 ECHEC
================================== */

#echec {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.echec-top {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin: 50px auto;
}

.echec-top h1 {
	font-family: bc-alphapipe, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5em;
	color: #304798;
}

.echec-top img {
	width: 250px;
	margin: 40px 0;
}

.echec-top button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.5em;
	font-weight: 200;
	cursor: pointer;
	margin: 20px 0;
}

/* ================================
			  ACCUEIL
================================== */

#devis-header {
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 5;
}

.devis-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
	background-image: url('../img/people/portrait-of-happy-contented-satisfied-attractive-man-in-denim-trendy-shirt-showing-with-his-index-finger-the-top-right-cornerxt.jpg');
	background-position: 0 -110px;
	background-repeat: no-repeat;
	background-size: cover;
}

#devis-header > img:nth-child(1) {
	z-index: 11;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -135px;
	text-align: center;
	width: 150px;
}

#devis-header > img:nth-child(2) {
	position: absolute;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	left: 46px;
	right: 0;
	bottom: -108px;
	transform: rotate(90deg);
	text-align: center;
	z-index: -2;
}

.devis-header {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.devis-text {
	margin-top: 200px;
	width: 70%;
	height: 100%;
	text-align: left;
	color: white;
}

.devis-text h1 {
	font-weight: 400;
	margin-bottom: 15px;
	font-size: 3.5em;
}

.devis-text p {
	font-size: 1.5em;
	font-weight: 300;
}

#devis-pdf {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 150px 0;
}

.pdf-container {
	width: 100%;
	border-radius: 50px;
}

.pdf-container object {
	width: 100%;
	height: 1130px;
}

.devis-pdf-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.devis-bottom-text {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.devis-bottom-text h2 {
	font-size: 1.8em;
	font-weight: 300;
}

.devis-bottom-text p {
	font-size: 1.2em;
	font-weight: 200;
	text-decoration: underline;
	cursor: pointer;
}

/* ================================
			 FORMATIONS
================================== */


#formation-header {
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 5;
}

.formation-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
	background-image: url('../img/people/black-stupefied-young-teacher-keeps-hands-on-head-opens-mouth-widely-stares-at-pile-of-books-prepares-lecture-for-students.jpg');
	background-position: 0 -650px;
	background-repeat: no-repeat;
	background-size: cover;
}

#formation-header > img:nth-child(1) {
	z-index: 11;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -135px;
	text-align: center;
	width: 150px;
}

#formation-header > img:nth-child(2) {
	position: absolute;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	left: 46px;
	right: 0;
	bottom: -108px;
	transform: rotate(90deg);
	text-align: center;
	z-index: -2;
}

.formation-header {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.formation-text {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column;
	color: white;
}

.formation-text h1 {
	font-size: 3em;
	font-weight: 400;
}

.formation-text p {
	margin: 150px auto;
	font-size: 1.8em;
	font-weight: 300;
}

.cta-formations-btns {
	width: 77%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cta-formations-btns button {
	width: 500px;
	background-color: white;
	color: var(--red);
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.5em;
	font-weight: 300;
	cursor: pointer;
}

/* ================================
			  MON COMPTE
================================== */

#user-header {
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 5;
}

.user-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
	background-image: url('../img/people/front-view-of-male-student-wearing-black-backpack-holding-copybooks-and-files-on-blue-wall.jpg');
	background-position: 0 -135px;
	background-repeat: no-repeat;
	background-size: cover;
}

#user-header > img:nth-child(1) {
	z-index: 11;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -135px;
	text-align: center;
	width: 150px;
}

#user-header > img:nth-child(2) {
	position: absolute;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	left: 46px;
	right: 0;
	bottom: -108px;
	transform: rotate(90deg);
	text-align: center;
	z-index: -2;
}

.user-header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.user-text {
	width: 80%;
	color: white;
}

.user-text h1 {
	font-size: 4.5em;
	margin-bottom: 350px;
	font-weight: 500;
}

.user-text p {
	font-size: 1.8em;
}

#user-body {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 150px auto;
	margin-bottom: 100px;
}

.user-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-profile {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	position: relative;
	height: 750px;
}

.user-messages {
	width: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-details {
	width: 100%;
	align-self: flex-start;
	justify-self: flex-start;
}

.user-details h2 {
	align-self: center;
	justify-self: center;
	text-align: center;
	font-weight: 300;
	margin-bottom: 10px;
	font-size: 2.2em;
}

.user-details ul {
	margin-bottom: 50px;
	font-size: 1.3em;
	font-weight: 300;
}

.user-details p {
	font-size: 1.3em;
	font-weight: 300;
}

.user-details button {
	width: 100%;
	background-color: var(--red);
	color: white;
	padding: 5px;
	border-radius: 50px;
	border: none;
	font-size: 1.7em;
	font-weight: 200;
	cursor: pointer;
}

.user-img {
	width: 90%;
	border-radius: 70px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin-bottom: 40px;
	position: relative;
}

.user-profile > img {
	position: absolute;
	right: 10px;
	top: -50px;
	width: 110px;
	transform: rotate(-45deg);
	z-index: 2;
}

.user-img img {
	width: 100%;
	position: relative;
	z-index: 3;
}

.message-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column;
	width: 100%;
	height: 750px;
	padding: 20px;
	padding-bottom: 30px;
	border-radius: 60px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 23px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 23px -13px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 23px -13px rgba(0,0,0,0.75);
}

.messages-header {
	width: 90%;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.329);
}

.messages-header h1 {
	font-weight: 300;
	font-size: 2.2em;
}

.reception {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-flow: column;
}

.reception img {
	width: 300px;
}

.reception h4 {
	font-weight: 300;
	font-size: 1.7em;
	margin-bottom: 50px;
}
#mes-formations {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mes-formations-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
}

.mes-formations-container > h1 {
	font-family: bc-alphapipe, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.2em;
}

.mes-formations-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column;
	margin: 40px auto;
}

.mes-formations-card {
	background-color: white;
	width: 60%;
	height: 150px;
	border-radius: 70px;
	text-align: left;
	padding: 30px;
	padding-left: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px auto;
	-webkit-box-shadow: 0px 0px 19px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 19px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 19px -9px rgba(0,0,0,0.75);
}

.mes-formations-card-text {
	padding-right: 100px;
}

.mes-formations-card-text h3 {
	font-weight: 300;
	font-size: 1.4em;
}

.mes-formations-card-text p {
	font-size: 1.3em;
	font-weight: 300;
	margin-top: 10px;
}

/* ================================
			   FORUM
================================== */

#forum-header {
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 5;
}

.forum-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
	background-image: url('../img/people/cheerful-guy-whispers-secret-to-girlfriend-shares-gossip-have-fun-after-classes-excited-curly-haired-female-holds-cell-phone-gets-interesting-information-from-groupmate-two-students-discuss-something.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#forum-header > img:nth-child(1) {
	z-index: 11;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -135px;
	text-align: center;
	width: 150px;
}

#forum-header > img:nth-child(2) {
	position: absolute;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	left: 46px;
	right: 0;
	bottom: -108px;
	transform: rotate(90deg);
	text-align: center;
	z-index: -2;
}

.forum-header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.forum-text {
	width: 80%;
	color: white;
}

.forum-text h1 {
	font-size: 4.5em;
	margin-bottom: 270px;
	font-weight: 500;
}

.forum-text p {
	font-size: 1.7em;
	font-weight: 200;
}

#forum-body {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px auto;
	margin-bottom: 50px;
}

.forum-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.forum-search {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.search-form {
	margin-top: 30px;
	width: 600px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-form button {
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2c68b0;
	color: white;
	border: none;
	padding: 14px;
	font-size: 1.8em;
	border-radius: 50%;
	cursor: pointer;
}

.search-form input {
	width: 100%;
	padding: 10px 25px;
	padding-right: 70px;
	font-size: 1.5em;
	border: none;
	border-radius: 40px;
	-webkit-box-shadow: 0px 0px 25px -14px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 25px -14px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 25px -14px rgba(0,0,0,0.75);
	outline: none;
}

.search-form input::placeholder {
	opacity: .5;
}

.forum-top {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 60px;
}

.dropdown-el {
	min-width: 230px;
	position: relative;
	display: inline-block;
	margin-right: 1em;
	min-height: 2em;
	max-height: 2em;
	overflow: hidden;
	top: 0.5em;
	cursor: pointer;
	text-align: left;
	white-space: nowrap;
	color: #444;
	outline: none;
	border: 0.06em solid transparent;
	border-radius: 1em;
	background-color: white;
	font-size: 1.3em;
	transition: 0.3s all ease-in-out;
	-webkit-box-shadow: 0px 0px 25px -14px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 25px -14px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 25px -14px rgba(0,0,0,0.75);
}

.dropdown-el input:focus + label {
	background: #def;
}
  
.dropdown-el input {
	width: 1px;
	height: 1px;
	display: inline-block;
	position: absolute;
	opacity: 1;
}
  
.dropdown-el label {
	border-top: 0.06em solid #d9d9d9;
	display: block;
	height: 2em;
	line-height: 2em;
	padding-left: 1em;
	padding-right: 3em;
	cursor: pointer;
	position: relative;
	transition: 0.3s color ease-in-out;
}

.dropdown-el label:nth-child(2) {
	margin-top: 2em;
	border-top: 0.06em solid #d9d9d9;
}

.dropdown-el input:checked + label {
	display: block;
	border-top: none;
	position: absolute;
	top: 0;
	width: 100%;
}

.dropdown-el input:checked + label:nth-child(2) {
	margin-top: 0;
	position: relative;
}

.dropdown-el::after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f078";
	position: absolute;
	z-index: 5;
	right: 10px;
	top: 10px;
	color: var(--blue);
	transition: 0.4s all ease-in-out;
}

.dropdown-el.expanded {
	border: 0.06em solid var(--blue);
	background: #fff;
	border-radius: 0.25em;
	padding: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
	max-height: 15em;
}

.dropdown-el.expanded label {
	border-top: 0.06em solid #d9d9d9;
}

.dropdown-el.expanded label:hover {
	color: var(--blue);
}

.dropdown-el.expanded input:checked + label {
	color: var(--blue);
}

.dropdown-el.expanded::after {
	transform: rotate(-180deg);
	top: 0.55em;
}

.low-opacity {
	opacity: .5;
}

.forum-messages {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.forum-messages-container {
	width: 66%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column;
}

.forum-messages-container > img {
	justify-self: center;
	align-self: center;
	width: 70px;
	cursor: pointer;
}

.forum-message {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 70px;
}

.forum-message:last-of-type {
	margin-bottom: 50px;
}

.forum-user-img {
	margin-right: 25px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.forum-user-img img {
	width: 100%;
}

.forum-user-message {
	width: 800px;
	position: relative;
	padding: 15px 40px;
	border-radius: 80px;
	-webkit-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 28px -15px rgba(0,0,0,0.75);
}

.forum-user-message h3 {
	font-weight: 500;
	font-size: 1.5em;
	color: rgba(0, 0, 0, 0.7);
}

.forum-user-message p {
	font-weight: 200;
	font-size: 1.2em;
}

.forum-user-message img {
	position: absolute;
	right: -25px;
	top: 40px;
	width: 50px;
	cursor: pointer;
}

.forum-filters-container {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-flow: column;
	text-align: right;
}

.forum-filters-container h1 {
	text-align: right;
	font-size: 2.2em;
	color: rgba(0, 0, 0, 0.542);
	padding-bottom: 20px;
	font-weight: 300;
	width: 100%;
	border-bottom: 2px solid rgba(17, 17, 17, 0.241);
	margin-bottom: 40px;
}

.filter {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px;
	cursor: pointer;
}

.filter button {
	width: 35px;
	height: 35px;
	background-color: var(--blue);
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.filter h2 {
	font-weight: 300;
	font-size: 1.5em;
	color: rgba(0, 0, 0, 0.618);
}

.forum-bottom {
	margin-top: 50px;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
}

.forum-bottom h1 {
	font-family: bc-alphapipe, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.2em;
}

.forum-bottom p {
	font-size: 1.5em;
	margin: 30px 0;
	font-weight: 300;
}

.forum-bottom button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.5em;
	font-weight: 200;
	cursor: pointer;
}

/* ================================
			FINANCEMENT
================================== */

#salarie, #demandeur, #autres {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.salarie-container {
	width: 100%;
}

.finance-heading {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 120px;
	position: relative;
}

.finance-heading .about-title {
	position: absolute;
	bottom: 30px;
	left: 330px;
}

.finance-heading .second-title {
	position: absolute;
	bottom: 30px;
	left: 180px;
}

#demandeur .finance-heading > img {
	margin-left: 250px;
}

.finance-heading .about-title span {
	color: var(--red);
}

.finance-heading > img {
	width: 450px;
}

.finance-carousel {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.finance-carousel-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.carousel-slides {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.finance-carousel-content {
	text-align: center;
	background-color: white;
	padding: 50px;
	font-size: 1.3em;
	font-weight: 300;
	border-radius: 150px;
	-webkit-box-shadow: 0px 0px 34px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 34px -13px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 34px -13px rgba(0,0,0,0.75);
}

.finance-carousel-content p > a {
	color: var(--red);
}

.finance-carousel-left-arrow {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.finance-carousel-right-arrow {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.finance-carousel-left-arrow img, .finance-carousel-right-arrow img {
	width: 70px;
	cursor: pointer;
}

.content-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.content-wrapper > h3 {
	text-align: center;
	margin: 40px auto;
	font-weight: 400;
	font-size: 1.7em;
}

/* ================================

		 FINANCEMENT CAROUSEL

================================== */

.carousel-slides {
	max-width: 100%;
	position: relative;
}

.first-carousel-slides, .second-carousel-slides, .third-carousel-slides {
	display: none;
}

.current-carousel {
	display: block;
	animation: fadeVisibility 1s;
}

.hidden-slide {
	display: none;
}

@keyframes fadeVisibility {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: opacity linear;
	}
}

.carousel-dots {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
}

.carousel-dots span {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgb(225, 225, 225);
	margin: 0 8px;
}

.carousel-dots .active-dot {
	background-color: var(--red);
}

/* ================================

		    LOGIN-SIGNUP

================================== */

#login {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}
.comments {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 1em;
    color: var(--red);
}
.login-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.login-container > h1 {
	font-family: bc-alphapipe, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.2em;
	color: var(--blue);
}

.login-container form {
	width: 600px;
	background-color: transparent;
}

.login-group {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
	margin: 20px 0;
}

.login-group label {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.login-group span {
	width: 100%;
	position: relative;
}

.login-group span img {
	position: absolute;
	z-index: 9999;
	left: 0;
	top: 10px;
	width: 25px;
}

.login-group:nth-child(2) span img {
	position: absolute;
	left: 0;
	top: 10px;
	width: 20px;
}

.login-group input {
	width: 100%;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid rgba(201, 201, 201, 0.748);
	font-size: 1.3em;
	padding: 10px 50px;
	outline: none;
	position: relative;
}

.login-group input::placeholder {
	opacity: .6;
}

.login-bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.login-bottom p {
	font-weight: 300;
	color: rgb(165, 165, 165);
	font-size: 1.2em;
}

.login-bottom p a {
	color: rgb(165, 165, 165);
	text-decoration: underline;
}

.login-bottom button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.5em;
	font-weight: 200;
	cursor: pointer;
	margin: 10px 0;
}

.login-bottom img {
	width: 40px;
	cursor: pointer;
	transition: all .3s;
}

.max-height {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	-ms-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 1s;
}

#signup {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.show-signup {
	max-height: 1000px;
}

.rotate-btn {
	transform: rotate(180deg);
}

.signup-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-container form {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.signup-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.signup-group {
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
}

.signup-group label {
	font-size: 1.6em;
	font-weight: 300;
}

.signup-group input {
	width: 100%;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid rgba(201, 201, 201, 0.748);
	font-size: 1.3em;
	padding: 10px 0;
	outline: none;
	position: relative;
	margin: 15px 0;
}

.signup-group input::placeholder {
	opacity: .6;
}

.signup-container form > button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.5em;
	font-weight: 200;
	cursor: pointer;
	margin: 30px 0;
}

/* ================================

		 FINANCEMENT CAROUSEL

================================== */

#contact {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.contact-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.contact-text {
	width: 80%;
	text-align: center;
}

.contact-text h1 {
	font-family: bc-alphapipe, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.2em;
	color: var(--blue);
	margin-bottom: 20px;
}

.contact-text p {
	font-weight: 300;
	font-size: 1.3em;
}

.contact-container form {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-top: 40px;
}

.contact-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact-group {
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
	margin: 10px 0;
}

.contact-container form > .contact-group {
	align-self: flex-start;
}

.contact-group label {
	font-size: 1.6em;
	font-weight: 300;
}

.contact-group input {
	width: 100%;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid rgba(201, 201, 201, 0.748);
	font-size: 1.3em;
	padding: 10px 0;
	outline: none;
	position: relative;
	margin: 10px 0;
}

.contact-group input::placeholder {
	opacity: .6;
}

.contact-container form > button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.5em;
	font-weight: 200;
	cursor: pointer;
	margin: 30px 0;
}

.contact-container form .textarea {
	width: 100%;
	margin-top: 15px;
	position: relative;
}

.contact-container form .textarea > img:nth-child(1) {
	position: absolute;
	z-index: 3;
	right: -20px;
	top: -80px;
	width: 110px;
	transform: rotate(-45deg);
}

.contact-container form .textarea > img:nth-child(2) {
	position: absolute;
	z-index: 3;
	left: -20px;
	bottom: -80px;
	width: 110px;
	transform: rotate(130deg);
}


.contact-container form .textarea textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 500px;
	max-height: 800px;
	padding: 40px;
	border: none;
	border-radius: 70px;
	font-size: 1.3em;
	outline: none;
	position: relative;
	z-index: 5;
	-webkit-box-shadow: 0px 0px 23px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 23px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 23px -12px rgba(0,0,0,0.75);
}

.contact-container form .textarea textarea::placeholder {
	opacity: .6;
}

.contact-banner {
	background-image: url('../img/people/arno-smit-lndaG6uN1yw-unsplash.jpg');
	width: 100vw;
	height: 250px;
	margin-bottom: 50px;
	background-position: 0px -600px;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-self: center;
}

.blur-div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-self: center;
	flex-flow: column;
	text-align: center;
	backdrop-filter: blur(4px);
	color: white;
}

.blur-div h1 {
	font-weight: 400;
	font-size: 2.8em;
}

.blur-div h4 {
	font-size: 1.8em;
	font-weight: 400;
	margin: 10px auto;
}

.blur-div p {
	font-size: 1.7em;
}

.contact-container > img {
	width: 40%;
	margin-bottom: 50px;
}

/* ================================

		 FINANCEMENT CAROUSEL

================================== */

.inter-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-self: center;
	text-align: center;
	margin: 50px 0;
}

.intersection {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.inter-section img {
	width: 25px;
	align-self: center;
	justify-self: center;
	margin: 20px 0;
	transform: rotate(90deg);
}

.inter-section h1 {
	font-family: bc-alphapipe, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.2em;
	color: var(--red);
}

.inter-section h4 {
	font-weight: 300;
	font-size: 1.6em;
}

.inter-wrapper {
	width: 100%;
	text-align: center;
	margin: 40px 0;
}

.inter-wrapper h5 {
	color: rgb(76, 144, 221);
	font-weight: 300;
	font-size: 1.7em;
}

.inter-wrapper p {
	font-size: 1.6em;
	font-weight: 300;
}

.inter-wrapper p a {
	color: black;
}

.inter-section > a {
	width: fit-content;
	justify-self: center;
	align-self: center;
}

.inter-section button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.5em;
	font-weight: 200;
	cursor: pointer;
	margin: 30px 0;
}

#formations {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.formations-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
}

.formation-header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
}

.formation-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.formation-title h1 {
	font-family: 'bc-alphapipe',sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	margin-left: 20px;
	color: var(--red);
}

.formation-title h1 span {
	color: black;
}

.formation-title img {
	width: 28px;
}

.formations-info {
	font-size: 1.4em;
	margin: 30px 0;
}

.formations-info span {
	font-weight: 600;
}

.formation-card-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	position: relative;
}

.formation-card-container > img {
	width: 50%;
	margin: 50px auto;
}

.formation-card {
	width: 100%;
	border-radius: 60px;
	-webkit-box-shadow: 0px 0px 32px -19px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 32px -19px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 32px -19px rgba(0,0,0,0.75);
	margin: 30px 0;
}

.card-wrapper {
	width: 100%;
	padding: 30px 50px 10px 50px;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
}

.module {
	max-height: 0px;
	margin: 0;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.module-active {
	max-height: 1000px;
	margin: 30px 0;
}

.card-wrapper > h2 {
	font-size: 1.3em;
	margin-bottom: 30px;
	padding: 0 30px;
}

.card-btns {
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-btns form {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-btns form.already_purchased {
	width: 100%;
}

.card-btns form button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 10px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.2em;
	font-weight: 200;
	cursor: pointer;
	margin: 30px auto;
}

.formations-footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px auto;
	padding-left: 100px;
}

.f-footer-text {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
}

.f-footer-text-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

.f-footer-text-header h1 {
	font-family: 'bc-alphapipe',sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
}

.f-footer-text-header img {
	width: 25px;
	margin-right: 20px;
}

.f-footer-text p {
	font-size: 1.4em;
	padding-left: 50px;
}

.f-footer-text button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 15px 15px;
	border-radius: 50px;
	border: none;
	font-size: 1.5em;
	font-weight: 200;
	cursor: pointer;
	margin: 30px auto;
}

.f-footer-text a {
	align-self: center;
	justify-self: center;
}

.formations-footer > img {
	width: 60%;
}

.display_module {
	transition: all .2s ease;
}

.display_module_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.display-module_container img {
	width: 50px;
	cursor: pointer;
}
/* ================================
			 MODAL
================================== */

#open_modal {
    text-decoration: none;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal_content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: white;
    padding: 1.5em 2em;
} 
.modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
	text-decoration: none;
}

/* ================================
			PRESTATIONS
================================== */

#prestations {
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.smaller-text button {
	font-size: 1.4em;
	padding: 20px 5px;
}

.prestations-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-top: 100px;
}

.prestations-container > img {
	width: 25%;
	margin: 30px auto;
}

.prestations-header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prestations-header img {
	width: 25px;
	margin-right: 20px;
}

.prestations-header h1 {
	font-family: 'bc-alphapipe',sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
}

.prestations-header h1 span {
	color: var(--red);
}

.prestations-carousel {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.prestations-card {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
}

.prestation-card-top h3 {
	font-weight: 300;
	font-size: 1.4em;
	margin: 30px auto;
}

.prestation-card-top p {
	font-size: 1.3em;
	font-weight: 300;
}

.prestation-card-top p span {
	font-weight: 500;
}

.prestation-top-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin: 20px auto;
}

.prestation-top-btns form button, .prestation-top-btns button {
	width: 420px;
	background-color: #e8491c;
	color: white;
	padding: 10px 10px;
	border-radius: 50px;
	border: none;
	font-size: 1.4em;
	font-weight: 200;
	cursor: pointer;
	margin: 10px auto;
}

.prestation-card-text {
	width: 100%;
	padding: 30px 50px 10px 50px;
	border-radius: 60px;
	-webkit-box-shadow: 0px 0px 32px -19px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 32px -19px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 32px -19px rgba(0,0,0,0.75);
	font-size: 1.2em;
	margin: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
}

.prestation-left-arrow {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.prestation-right-arrow {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.prestation-left-arrow img, .prestation-right-arrow img {
	width: 60px;
	cursor: pointer;
}


.prestation-slide, .prestation2-slide, .prestation3-slide {
	display: none;
}

.current-slide {
	display: block;
	animation: fadeVisibility 1s;
}

.hidden-slide {
	display: none;
}